doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width')
    title Conquistas
    link(rel='stylesheet', href='/stylesheets/styleCadastrar.css')
body
  #fade.hide
  #modal.hide
    .modal-header
      h2(style='color: #ED1F30;') Cadastrar Conquista
      button#close-modal(style='color: black; background-color: transparent') X
    .modal-body
      div
      p=msg
      form#form(action='/conquistas/create/' method='POST')
        input.inputs(name="title" type='text' value='' placeholder='Insira o título da conquista')
        input.inputs(name="text" type='text' value='' placeholder='Insira o texto da conquista')
        input#inputB(type='submit' value='cadastrar')

  #container
    #navbar
      #logoTitulo
        img(src='images/logo.png')
        p CONQUISTAS
      #imagensPerfilConfig
        img(src='icons/9.svg')
        img(src='icons/10.svg')
    span
      button#open-modal(style='color: white;') Cadastrar
      a(href='/viewconquistas')
        button#open-modal(style='color: white;') Visualizar
      a(href='/conquistas')
        button#open-modal(style='color: white;') JSON
      a(href='/menu')
        button#open-modal(style='color: white;') VOLTAR

  script(src='/javascripts/script2.js')