doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width')
    title replit
    link(rel='stylesheet', href='/stylesheets/style.css')
  body#inicio
    #pgInicial
      img(src='images/logo.png')
      #appName
        h1 ACADEMIC SYLLABUS
        h2 Organize sua rotina com o AS
      a(href='/menu')
        button ENTRAR
    script(src='script.js')
    script(src='https://replit.com/public/js/replit-badge.js' theme='blue' defer='')
