doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width')
    title Json
    link(rel='stylesheet', href='/stylesheets/styleCadastrar.css')
body
  #container

    span
      a(href='/livros')
        button#open-modal(style='color: white;') LIVROS
      a(href='/tarefas')
        button#open-modal(style='color: white;') TAREFAS
      a(href='/conteudo')
        button#open-modal(style='color: white;') PORTUGUÊS
      a(href='/habitos')
        button#open-modal(style='color: white;') HÁBITOS
      a(href='/flashcards')
        button#open-modal(style='color: white;') FLASHCARDS
      a(href='/conquistas')
        button#open-modal(style='color: white;') CONQUISTAS
      a(href='/menu')
        button#open-modal(style='color: white;') MENU

  script(src='/javascripts/script2.js')