doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width')
    title Menu
    link(rel='stylesheet', href='/stylesheets/style.css')
  body#menu
    .container
      #navbar
        #logoTitulo
          img(src='images/logo.png')
          p ACADEMIC SYLLABUS
        #imagensPerfilConfig
          img(src='icons/9.svg')
          img(src='icons/10.svg')
      #cards
        #coluna1
          a(href='/livrospage')
            button#card1
              img(src='icons/11.svg')
              |             LIVROS
          a(href='/tarefaspage')
            button#card2
              img(src='icons/4.svg')
              |             LISTA DE TAREFAS
          a(href='/conteudospage')
            button#card3
              img(src='icons/5.svg')
              |             DISCIPLINAS E CONTEÚDOS
          a(href='/jsonpage')            
            button#card1(value='disabled')
              img(src='icons/json.svg')
              |           JSON
        #coluna2
          a(href='/habitospage')
            button#card4
              img(src='icons/6.svg')
              |             HABIT TRACKER
          a(href='/flashcardspage')          
            button#card5
              img(src='icons/7.svg')
              |           FLASHCARDS
          a(href='/conquistaspage')            
            button#card6
              img(src='icons/star.svg')
              |           CONQUISTAS     
          a(href='/rotaspage')            
            button#card4
              img(src='icons/8.svg')
              |           ROTAS
      #end
        #cardFrase
          img(src='images/logo.png')
          p Com organização seu dia fica mais fácil.
        #figures
          img(src='images/1.svg')
          img(src='images/2.svg')
  script(src='/javascripts/script2.js')
