doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width')
    title Tarefas
    link(rel='stylesheet', href='/stylesheets/styleCadastrar.css')
body
  #fade.hide
  #modal.hide
    .modal-header
      h2(style='color: #ED1F30;') Cadastrar Tarefas
      button#close-modal(style='color: black; background-color: transparent') X
    .modal-body
      div
      p=msg
      form#form(action='/tarefas/create/' method='POST')
        input.inputs(name="nomeLista" type='text' value='' placeholder='Insira o nome da lista de tarefas')
        input.inputs(name="tarefa1" type='text' value='' placeholder='Insira uma tarefa')
        input.inputs(name="tarefa2" type='text' value='' placeholder='Insira uma tarefa')
        input.inputs(name="tarefa3" type='text' value='' placeholder='Insira uma tarefa')
        input.inputs(name="tarefa4" type='text' value='' placeholder='Insira uma tarefa')
        input.inputs(name="tarefa5" type='text' value='' placeholder='Insira uma tarefa')
        input.inputs(name='value' type='text' value='' placeholder='Tarefa concluída? 0 para não ou 1 para sim')
        input#inputB(type='submit' value='cadastrar')

  #container
    #navbar
      #logoTitulo
        img(src='images/logo.png')
        p LISTA DE TAREFAS
      #imagensPerfilConfig
        img(src='icons/9.svg')
        img(src='icons/10.svg')
    span
      button#open-modal(style='color: white;') Cadastrar
      a(href='/viewtarefas')
        button#open-modal(style='color: white;') Visualizar
      a(href='/tarefas')
        button#open-modal(style='color: white;') JSON
      a(href='/menu')
        button#open-modal(style='color: white;') VOLTAR

  script(src='/javascripts/script2.js')