doctype html
html(lang='pt-br')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Conquistas
    link(rel='stylesheet', href='/stylesheets/styleView.css')
  body
    each conquista in conquistas
      #cardConquista
        #tituloC
          img(src='icons/star2.svg')
          p#title=conquista.title
          img(src='icons/star2.svg')
        #textoC
          p#text=conquista.text
        
        #div11
          button#open-modal ATUALIZAR
          a(href=conquista.url+'/delete')
            button -
          a(href='/conquistaspage')
            button#open-modal VOLTAR
    script(src='/javascripts/script.js')