doctype html
html(lang='pt-br')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Ver hábitos
    link(rel='stylesheet', href='/stylesheets/styleView.css')
  body
    p Tela ainda não implementada
    a(href='/habitospage')
      button#open-modal VOLTAR
script(src='/javascripts/script.js')